 #all{

		width:50%;
		height:80%;

		opacity:1;

		position: absolute;
		z-index:0;

		perspective: 800px;
		xtransform-style: preserve-3d;/* div schneidet sons senlrecht die Click-Area*/
  }
  
  table{
		border-style:solid;
		border-width:3px;
;
				
		left: 20%;
		height:200px;
		width:200px;
		z-index:2;
		
		

		position: relative;
	}

    td{
		text-align: center;
	}

	.T01 {


		opacity:0.4;

		z-index:10;/* on top*/

		transform: rotateX(70deg) rotateY(0deg)  rotateZ(30deg) 
		translateX(00px) translateY(0px) translateZ(0px);
	}
	
	.T01:hover {
		opacity:1;
	}
	
	.T02 {


		opacity: 0.4;

		z-index:5;/* on middle*/

		transform: rotateX(70deg) rotateY(0deg)  rotateZ(32deg) 
		translateX(00px) translateY(-00px) translateZ(135px);
	}
	
	.T02:hover {
		opacity: 1;
		transform: rotateX(70deg) rotateY(0deg)  rotateZ(32deg) 
		translateX(00px) translateY(40px) translateZ(135px);
	}
	
	.T03 {
	

		opacity: 1.0;
		z-index:1;/* on top*/

		transform: rotateX(70deg) rotateY(0deg)  rotateZ(34deg) 
		translateX(00px) translateY(-00px) translateZ(260px);
	}
	
	.T03:hover{

		transform: rotateX(70deg) rotateY(0deg)  rotateZ(34deg) 
		translateX(00px) translateY(40px) translateZ(260px);
	}
	
	TD:hover{border-style:solid;border-width:3px;border-color:grey; Xwhite}