body
{background-color:#A0A0A0}

TABLE{
border-style:solid;border-color:black;border-width:10px
}

TD {
color:magenta}

#button01 {width:300px;height:100px;
font-weight:bold;
background-image: url("../pic/logo_hrs_100x102.jpg");opacity:0.1; 
 background-color: #FFcccc;
}