    .Tabelle{
                border-style:solid;
                background-color: blueviolet;
            }
			.SpalteEins{
				border-style:solid;
                background-color: rgb(238, 115, 115);
				border-top-color:black;
                border-right-color: red;
                border-left-color: red;
                border-bottom-color: yellow;
                border-width: 3px;
                font-style: italic; 
			}

			.SpalteZwei{
                border-style:solid;
                background-color: rgb(238, 115, 115);
				border-top-color:black;
                border-right-color: red;
                border-left-color: red;
                border-bottom-color: yellow;
                border-width: 3px;
                font-style: italic; 
			}

			.SpalteDrei{
                border-style:solid;
                background-color: rgb(238, 115, 115);
				border-top-color:black;
                border-right-color: red;
                border-left-color: red;
                border-bottom-color: yellow;
                border-width: 3px;
                font-style: italic; 
			}

            .ZeileEins{
                border-style:solid;
                background-color: greenyellow;
				border-top-color:wheat;
                border-right-color: red;
                border-left-color: green;
                border-bottom-color: wheat;
                border-width: 3px;
                font-style: initial; 
            }
            
            .ZeileZwei{
                border-style:solid;
                background-color: wheat;
				border-top-color:black;
                border-right-color: wheat;
                border-left-color: wheat;
                border-bottom-color: black;
                border-width: 3px;
                font-style: oblique; 
            }

            .ZeileDrei{
                border-style:solid;
                background-color: pink;
				border-top-color:rgb(69, 131, 201);
                border-right-color: rgb(238, 88, 205);
                border-left-color: rgb(238, 88, 205);
                border-bottom-color: rgb(69, 131, 201);
                border-width: 3px;
                font-style: oblique; 
            }