        span {color:aqua;}
        #background{background-image: url("../pic/JensiBoy.jpg"); background-size: 1000px 700px;}
        .pinkeTabelle{background-color: pink;border-color: turquoise; border-width: 3px;}
        .cooleTabelle{background-color:rgb(255, 255, 255);}
        .blaueTabelle{background-color: aqua;}