body
{
    background-color:black;
    color:white;
    font: normal 40px Comic,Comic,cursive;}

TABLE{
    border-style:solid;
    border-color:white;
    border-width:5px;
    border-radius: 5px 5px 5px 5px;
}
TD {
    color:white;
    height:3em;
    text-align:center;
}

.Sp01 {
    background-color:darkgrey
}
.Sp02 {
    background-color:darkgrey
}
.Sp03 {
    background-color:darkgrey
}

.T01{
    position:absolute;
    bottom:20%;
    left:200px;
    width:30%;
    z-index:3;
}
.T02{
    position:absolute;
    bottom:30%;
    left:500px;
    width:30%;
    z-index:2;
    opacity: 0.6;
}

.T03{
    position:absolute;
    bottom:40%;
    left:700px;
    width:30%;
    z-index:1;
    opacity: 0.3;
}
