body{
    background-color:black;
    font: normal 40px Comic,Comic,cursive;
    color:white;
}
#Text{
    text-align: center;

}
.ttt #spielfeld{
    width: 60vmin;
	height: 60vmin;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    gap: 0;
    position:absolute; top:30%;right:35%;
}
.ttt .box{
    width:20vmin;
    height:20vmin;
    background:white;
    border:1px solid black;
    margin:0;
    font:0/0 transparent;
}
.ttt [aria-label="x"]{
    background-image:url('RotesX.svg');
}
.ttt [aria-label="o"]{
    background-image:url('BlauesKreis.svg');
}
.ttt .highlighted{
    background-color:darkgreen;
}
.warnung{
    color:red;
}
.erfolg{
    color:darkgreen;

}
#sz{
    font: normal 14px Comic,Comic,cursive;
    text-align: center;
    position: absolute;top:84.9%;right:25%;
    width:15vmin;
    height:5vmin;
    background:white;
    border:3px solid grey;
    margin:0;
}
